@media screen and (min-width: 900px) and (max-width: 1399px) {

    .footer {
        width: 1024px;
    }

    .layout-wrapper {
        width: 1024px;
    }

    .header__search {
        width: 594px;
    }

    .basket-columns {
        width: 640px;
    }

    .basket__list {
        width: 640px;
    }

    .missing__list {
        width: 640px;
    }

    .recipient-body {
        width: 590px;
    }


    .basket__sidebar {
        width: 304px;
    }

    .shipping-icon {
        margin-top: -3px;
        width: 22px;
        height: 22px;
        background-image: url(../src/sidebar/priceShipping.svg);
    }

    .shipping-note {
        position: absolute;
        bottom: -2px;
        right: -20px;
    }

    .shipping-text {
        position: relative;
        width: 75%;
    }

    .adress__shipping {

        padding: 8px 8px 12px 8px;
    }

    .sidebar__order {
        width: 255px
    }

    .outlined-text {
        width: 90%;
        margin-top: -1px;
    }

    .adress__header {
        margin-bottom: -1px;
    }

    .adress__where {
        margin-top: 2px;
    }

    .agree-text {
        margin-top: 1px
    }

    .shipping-text {
        position: relative;
    }

    .shipping-note {
        position: absolute;
        top: 16px;
        right: -20px;
    }

    .returning-text {
        position: relative;
    }

    .returning-note {
        position: absolute;
        top: 0px;
        right: -68px;
    }

    .shipping-text {
        position: relative;
    }

    .shipping-note {
        position: absolute;
        top: 16px;
        right: -20px;
    }

    .returning-text {
        position: relative;
    }

    .returning-note {
        position: absolute;
        top: 0px;
        right: -68px;
    }
}



@media (max-width: 768px) {
    .burger {
        width: 28px;
        height: 28px;
        border: none;
    }

    .layout-wrapper {
        width: 320px;
    }

    .footer {
        width: 320px;
    }


    .header__search {
        width: 594px;
    }

    .basket-columns {
        width: 320px;
    }

    .basket__list {
        width: 320px;
    }

    .missing__list {
        width: 320px;
    }

    .recipient-body {
        width: 290px;
    }


    .basket__sidebar {
        width: 304px;
    }

    .basket__page-wrap {
        display: flex;
        width: 320px;
        padding: 0px 16px;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }


}